/*Media queries tablettes*/
/*C'est plus pertinent de laisser un min-width parce qu'il y a des styles ordi qu'on retrouve sur tel*/
@media screen and (min-width: 768px) and (max-width: 991px) { 

	/*Pour l'ensemble de la page*/

		/*deco*/
	body {
		padding : 0;
	}
	h2 {
		font-size: 1em;
	}

	/*header*/

	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}

	/*recherche*/

	#recherche {	
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 30px;
	}
	h1 {
		font-size: 1.2em;
	}

	/*filtres*/

	#filtres {		
        /* border: 1px solid #000;			 */
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	#filtres h3 {
		margin-bottom: 15px;
        align-self: flex-start;
	}
	#filtres .ligne {						
		flex-direction: column;
	}
	#filtres .ligne ul li {
		margin: 0 15px 15px 0;
	}

	/*hebergement*/

	#hebergements { 	 			
		flex-direction: column-reverse;
		align-items: center; 
		margin-top: 10px;
	}
	#classiques {										
		justify-content: center;
		width: 95%;
		align-items: flex-start;
		margin: 0;
	}
	.box {
		max-width: 300px;
	}
	#populaires { 
		padding: 10px;
		margin: 0;
		flex-direction: row;
		align-items: center;
		width: 95%; /*idem que classiques*/
		min-width: 720px; /*idem que classiques*/
		height: 210px;
		margin-bottom: 15px;
	}
	#populaires > .ligne {		
		width: 10%;
		justify-content: flex-start;
		flex-direction: column-reverse;
		padding: 0;
	}
    #populaires .ligne i:nth-child(2) {
        display: none;
    }
	.boxLigne {
		flex-grow : 1;
		flex-basis : 0;
	}
	.boxLigne a {						
		flex-direction: column;
		justify-content: stretch;
		align-items: flex-start;
		margin: 10px;
		height: 190px;
	}
	.boxLigne img {
		border-radius: 15px 15px 0 0;
		max-height: 110px;
		width: 100%;
       
	}
	.boxLigne .texte {
		width: 90%; /*sinon texte + large que box*/
		height : 90px;
	}

	/*activités grid*/

	#activites {
		align-items: center;
		padding: 0px;
	}
	#activites h2 {						
		align-self: flex-start;
		margin: 0 0 20px 0px;
	}
	.grid { 							
		grid-template-rows: 200px 400px;
		grid-template-columns: repeat(2, 1fr);
	}
	.sousGrid {					
		grid-template: 50% 50% / 1fr;
		grid-gap: 40px;
	}
	.sousGrid:nth-child(4) {			
		grid-template: 50% 50% / 1fr;
		grid-gap: 40px;
	}
	.boxShadow:nth-child(2), .boxShadow:nth-child(5) {			
		margin-top: 0px;
	}

	/*footer*/

	footer {			
		padding-left: 50px;
	}
	footer .colonne {
		margin-right: 10%;
	}
}/*fin media*/