// "sass": "sass --watch ./style.scss:./css/style.css"

// voir pour pop-up toast ou modal
// spinner dans button submit
.wrapper {
    // border: 1px solid #000;
}
section {
    // border: 1px solid red;
}
form {
    // border: 1px solid blue;
}

$color : (
    "primary" : rgb(65, 63, 189),    
    "secondary" : rgb(21, 224, 157),
    "dark" : #000,
    "focus" : rgb(247, 93, 4),
    "danger" : red
);

h1 {
    > span {
        font-size: 0.7em;
    }
}

.preface {
    > p {
        margin: 0 0 5px 0;
        // padding: 0;
    }
}

fieldset {
    border: 2px solid map-get($color, primary);
}
.fieldsetSecondary {
    border-left: 1px solid map-get($color, secondary);
    border-bottom: 1px solid map-get($color, secondary);
}
.fieldsetHidden {
    border: 2px solid map-get($color, focus);
}
.fieldsetSubHidden {
    border: 2px solid map-get($color, danger);
}
#choix {
    // border: 1px solid #000;
    width: 80px;
    // height: 30px;
}