// "sass": "sass --watch ./style.scss:./css/style.css"

//! temp : 
#representationVisuelle {
    margin-top: 500px;
}
#fleche {
    text-align: center;
    font-size: 3em;
    margin-top: 200px;
}
$color : (
    "primary" : rgb(65, 63, 189),    
    "secondary" : rgb(21, 224, 157),
    "dark" : #000,
    "focus" : rgb(247, 93, 4),
    "danger" : red
);

#test  { // color for console
    color: rgb(17, 150, 0);
    color: rgb(19, 250, 219);
    color: rgb(0, 0, 0);
}
//* Barre de progression
.perso {
    opacity: 0;
    position: fixed;
    // background: map-get($color, primary);
    background: white;
    z-index: 1;
    width: 100%;
    margin: 0 -50px 0px -50px;
    padding-top: 4px;
    border-bottom: 2px solid map-get($color, primary);
    > p {
        // border: 1px solid #000;
        margin: 0;
        padding: 0;
    }
    > .box {
        border : 1px solid black;
        // border-radius: 10%;
        padding: 2px;
        // margin: 10px 10px 30px 10px;
        > #barre {
            // border-radius: 10%;
            width: 500px;
            height: 25px;
            background: radial-gradient(circle at 75px, blue, #3683DD, #36DDDD);
            text-align: center;
            line-height: 25px;
            transform-origin: 0%;
            transform: scale(0.5, 1); /*changer 1er chiffre entre 0 et 1*/
            // transition : transform 2000ms cubic-bezier(.7,.19,.95,.73);
        }
    }
}
.wrapper {
    position: relative;
    top: 100px;
    padding-bottom: 50px;
    // margin-top: 50px;
    > #SouvenirsVisuels {
        // border: 1px solid #000;
        position: relative;
        > #transparent {
            // // content: "";
            // font-size: 1.3em;
            // font-weight: bold;
            // text-align: right;
            // color: map-get($color, danger);
            position: absolute;
            padding: 0 60px;
            background-color: white;
            top: -15px;
            bottom: 0;
            left: -30px;
            right: -30px;
            opacity: 0.5;
            z-index: 1;
        }
    }
}



// voir pour pop-up toast ou modal
// spinner dans button submit
.wrapper {
    // border: 1px solid #000;
}
section {
    // border: 1px solid red;
}
form {
    // border: 1px solid blue;
}



h1 {
    > span {
        font-size: 0.7em;
    }
}

.preface {
    > p {
        margin: 0 0 5px 0;
        // padding: 0;
    }
}

fieldset {
    border: 2px solid map-get($color, primary);
}
.fieldsetSecondary {
    border-left: 1px solid map-get($color, secondary);
    border-bottom: 1px solid map-get($color, secondary);
}
.fieldsetHidden {
    border: 2px solid map-get($color, focus);
}
.fieldsetSubHidden {
    border: 2px solid map-get($color, danger);
}
#choix {
    // border: 1px solid #000;
    width: 80px;
    // height: 30px;
}

// floating lablel : https://codepen.io/peiche/pen/xOVpPo
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    // font-size: %;
    transform: translate3d(0, -130%, 0);
    opacity: 1;
    // font-weight: bold;
    // color: indigo;
  }
// jusqu'ici
// .textarea {
//     border: 1px solid #000;
//     height: 150px;

// }