body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    color:red;
    text-decoration: none;
}
a:hover {
    color: rgb(133, 0, 0)
}
a:active {
    font-style: italic;
}
p {
    font-size: 1.2em;
}
#howto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 20%;
}
#password {
    /* border: 1px solid #000; */
    position: absolute;
    top: 40%;
}
